.Horizon__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 6rem;
    padding-right: 6rem;
}

.Horizon__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.Horizon__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    color:azure;
}

.Horizon__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.Horizon__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.Horizon__features-container p,
.Horizon__features-container__feature-title h1{
    color: azure;
}

@media screen and (max-width: 990px) {
    .Horizon__features {
        flex-direction: column;
    }

    .Horizon__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    
    .Horizon__features-heading h1 {
        font-size: 24px;
        line-height: 38px;
    }
    .Horizon__features-container__feature-text p {
        font-size: 12px;
        line-height: 38px;

    }
    .Horizon__features{
        padding-left: 2rem;
    padding-right: 2rem;
    }
}